---
import Layout from '../layouts/Layout.astro';
const pageTitle = "Mi Lista de Navidad";
---
<Layout pageTitle={pageTitle}>
    <audio id="background-audio" src="/AnaluChristmasWishList/snowman.mp3" autoplay loop>
        Your browser does not support the audio element.
      </audio>
    <div class="gif">
        <img width="300" height="259" alt="RaccoonSpaceGif" src="/AnaluChristmasWishList/christmas_logo.webp"/>
    </div>
    <h1>Mi Lista de Navidad</h1>
    <small>Hecho con amor por Miguel Delgado ❤️ </small>
    <h2>Bebita💕</h2>
    <p>
        Hola amorcito, sabes me comentaron que este año fuiste muy buena y que
        hiciste muy feliz a cierta personita. Como mi amigo Santa❄ esta ocupado
        este año, me pidió que te preguntara que es lo que quieres para navidad.
        Así que aquí te dejo este espacio para que escribas lo que quieras. Solo queria recordarte
        lo increible que eres y que adoro estar contigo. Tu haces que mi navidad sea aun mas especial.
        Te amo mucho bebita, eres la mejor novia del mundo. 
        Tu snowman 💜    

    </p>
    <h2>Escribe aquí</h2>
    <form id="myForm">
        <textarea class="old-letter" title="letter" id="letter" name="letter" rows="8" cols="50">Querido Santa, esta navidad...</textarea>
        <div class="button">
            <button>Enviar</button>
        </div>
    </form>
    <h2>Pa ti :*</h2>
    <div class="gif">
        <img width="300" height="259" alt="RaccoonSpaceGif" src="/AnaluChristmasWishList/osito_love.webp"/>
    </div>
    <script>
        window.addEventListener('load', () => {
            const audio = document.getElementById('background-audio') as HTMLAudioElement;
            const image = document.querySelector('.gif img') as HTMLImageElement;

            image.addEventListener('click', () => {
            audio.play();
            });
        });
        function SendMailToSanta(event) {
            event.preventDefault();
            const letterTextArea = document.getElementById('letter') as HTMLTextAreaElement;
            const letterContent = letterTextArea.value;

            fetch('https://node-mail-api-ca88cdb1c05b.herokuapp.com/mail', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({ email: letterContent })
            });

        }
        document.getElementById('myForm').addEventListener('submit', SendMailToSanta);
      </script>
</Layout>
<style>
    /* small */
    small {
        background-color: #584966;
        color: #fdebf3;
        border-radius: 6px;
        font-family: 'Josefin Sans', sans-serif;
        font-weight: 600;
        padding: 0.3em 0.6em 0.2em;
    }


    /* Button */
    button {
        background: rgba(0,0,0,0);
        border: 2px solid #78c2ad;
        border-radius: 8px;
        color: #fdebf3;
        font: 600 16px 'Josefin Sans', sans-serif;
        padding: 8px 16px;
        transition: background-color 0.4s, color 0.4s;
    }

    button:hover {
        background-color: #78c2ad;
        color: #1e1e2e;
        cursor: pointer;
    }

    .button {
        text-align: center;
    }

    /* Skill images */
    .link-images img {
        margin: 16px 4px;
    }

    .old-letter {
        border: 5px double #827D7D;
        padding: 10px;
        text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
        box-shadow: 5px 5px 10px rgba(0,0,0,0.2);
        margin-top: 20px;
        margin-bottom: 20px;
        line-height: 1.6;
        font-size: 20px;
        box-sizing: border-box;
    }
    @media only screen and (max-width: 600px) {
        .link-images img {
            height: 30px;
            width: 30px;
            margin: 16px 1px;
        }
    }
</style>
